@charset "UTF-8";
body{font-family:"궁서체";}
div, section, header, aside, footer{padding:10px;}
div#container{
	background-color:#F0F0F0; width:130px; margin:0 auto;
}
header {
	background-color:#00BCd4; height:130px; position:relative;
	padding:10px 0 0 0;
}

header h1 {
	margin-left:10px;
}

section#content{
	background-color:#F5F5F5; float:left; width:940px; min-height:500px;
}

footer {
	background-color:#00BCD4; clear:both;
	height:75px; text-align:center;
	padding-top:40px;
}