<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!-- int result = session.insert("student.insertStudent"); -->
<mapper namespace="student">

	<!-- resultType 자바가 가지고 있는 타입 resultType="_int" -->
	<select id="selectCount" resultType="_int">
		select count(*) from student		
	</select>
	
	<select id="selectOne" parameterType="_int" resultType="com.mybatis.model.vo.Rstudent">
		select student_no as studentNo, 
			student_name as studentName, 
			student_tel as studentTel, 
			student_email as studentEmail, 
			student_addr as studentAddr, 
			reg_date 
		from student where student_no = #{no}
	</select>
	<select id="selectMap" resultType="map">
		select * from student where student_no = #{no}
	</select>
	
	<!-- <select id="selectTotal" resultType="Rstudent">
		select student_no as studentNo, 
			student_name as studentName, 
			student_tel as studentTel, 
			student_email as studentEmail, 
			student_addr as studentAddr, 
			reg_date  from student order by reg_date desc
	</select> -->
	
	<select id="selectTotal" resultMap="RstudentMap">
		select * from student order by reg_date desc
	</select>
	
	<select id="selectTotalMap" resultType="map">
		select * from student order by reg_date desc
	</select>
	
	<!-- reg_date는 안써도 값 받아옴, 컬럼명이 다른 경우에만 명시 -->
	<resultMap type="Rstudent" id="RstudentMap">
		<result column="student_no" property="studentNo"/>
		<result column="student_name" property="studentName"/>
		<result column="student_tel" property="studentTel"/>
		<result column="student_email" property="studentEmail"/>
		<result column="student_addr" property="studentAddr"/>
	</resultMap>

	<!-- resultType 무조건 int, 인자 받을때 parameterType -->
	<insert id="insertStudent">
		insert into member values('user03','user03','유병승', 'M', 19, 'prince0324@naver.com', '01036446259', '경기도시흥시', '개그', sysdate)
	</insert>
	<!-- 기본자료형이면 알아서 mapping, vo객체일경우 명시해야 -->
	<insert id="insertName" parameterType="string">
		insert into member values('user04', 'user04', #{name}, 'M', 19, 'prince0324@naver.com', '01036446259', '경기도시흥시', '개그', sysdate)
	</insert>
	<!-- 변수명에 맞는 getter로 가서 getXXX 메소드 실행 -->
	<insert id="insertAll" parameterType="student">
		insert into member values(#{memberId}, #{memberPwd}, #{memberName}, #{gender}, #{age}, #{email}, #{phone}, #{address}, #{hobby}, sysdate)
	</insert>
	
	<insert id="insertMap" parameterType="map">
		insert into member values(#{id}, #{pw}, #{name}, #{gender}, #{age}, #{email}, #{phone}, #{address}, #{hobby}, sysdate)
	</insert>
	
	<delete id="deleteStudent">
		delete from student where student_no = #{no}
	</delete>
	
	<!-- member테이블 조회
		받는값이 있으면 parameterType을 선언해주고 없으면 resultType으로 ??
		프로젝트 새로 만들어서 거기서 구현 -->
	<select id="memberAll" resultType="student">
		select member_id as memberId,
				member_pwd as memberPwd,
				member_name as memberName,
				gender, age, email, phone, address, hobby, 
				enroll_date as enrollDate from member
	</select>
	
	<!-- map으로 하는거 -->
	<select id="memberAllMap" resultType="map">
		select * from member
	</select>
	
	
	<!-- 이름으로 검색 
		selct절쪽에 다 소문자 써야함 
		
	-->
	<select id="memberSearch" parameterType="string" resultType="map">
		select * from member where member_name like '%'|| #{keyword} ||'%'
	</select>
	
	
	
</mapper>
